<div class="view_scroll content">
    <div class="center">
        <h1 class="title">{{ title }}</h1>
        <div class="avatar-upload" style="margin: 10px 0" *ngIf="edit">
            <div style="display: flex; align-items: center; justify-content: space-between">
                <span class="title">头像上传：</span>
                <input type="file" id="inputId" (change)="uploadAvator($event)" accept="image/*" />
                <ng-container *ngIf="avatarUrl; else avatarTemp">
                    <img
                        [src]="avatarUrl"
                        id="img"
                        style="width: 50px; height: 50px; border-radius: 50%"
                    />
                </ng-container>
                <ng-template #avatarTemp>暂无数据</ng-template>
            </div>
        </div>
        <form nz-form [formGroup]="userInfoForm" (ngSubmit)="onSubmit()">
            <nz-form-item>
                <nz-form-control [nzErrorTip]="nameErrorTpl">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="username" placeholder="姓名" />
                    </nz-input-group>
                    <ng-template #nameErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            请输入姓名
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzErrorTip]="dateErrorTpl">
                    <nz-date-picker
                        style="width: 100%"
                        formControlName="date"
                        placeholder="日期"
                    ></nz-date-picker>
                    <ng-template #dateErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            请输入日期
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzErrorTip]="addressErrorTpl">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="address" placeholder="地址" />
                    </nz-input-group>
                    <ng-template #addressErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            请输入地址
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control [nzErrorTip]="emailErrorTpl">
                    <nz-input-group nzPrefixIcon="mail">
                        <input type="email" nz-input formControlName="email" placeholder="邮箱" />
                    </nz-input-group>
                    <ng-template #emailErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            请输入邮箱
                        </ng-container>
                        <ng-container *ngIf="control.hasError('email')">
                            请输入有效的邮箱地址
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <button *ngIf="edit" nz-button nzType="primary" type="submit">保存</button>
            <button *ngIf="!edit" nz-button nzType="primary" (click)="editForm()">编辑</button>
        </form>
    </div>
</div>
