.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    // 移动端基础样式
    @media (max-width: 768px) {
        .center{
            width: 100%;
        }
    }
    // 桌面端样式保持不变
    @media (min-width: 769px) {
        .center{
            width: 50%;
        }
    }
   
}

.title{
    font-size: 16px;
    font-weight: bold;
    color: #6973b8;
    text-align: center;
 }