  // 移动端基础样式
  @media (max-width: 768px) {
    .search-section{
        display: flex;
        padding: 0 10px;
        flex-direction: column;
        height: 10rem;
        align-items: center;
        justify-content: space-evenly
    }
    .app-grid{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: auto;
        padding: 20px;
        .app-card{
            width: 60%;
        }
    }
}
// 桌面端样式保持不变
@media (min-width: 769px) {
    .search-section{
        display: flex;
        padding: 0 10px;
        align-items: center;
    }
    .app-grid{
        overflow: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}