.search-section{
    display: flex;
    padding: 0 10px;
    align-items: center;
}

.app-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

  // 移动端基础样式
  @media (max-width: 768px) {
    .app-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
// 桌面端样式保持不变
@media (min-width: 769px) {
    .app-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}