<nz-layout class="view">
    <nz-header class="header">
        <a href="https://baidu.com" target="_blank">
            <img style="width: 50px" src="assets/logo/logo.svg" alt="logo" />
        </a>
        <span>功能区-{{ this.featureName }}</span>
        <button nz-button (click)="toggleTheme()" style="margin-left: auto">
            <i nz-icon nzType="bulb"></i> 切换主题
        </button>
    </nz-header>
    <nz-content>
        <!-- 面包屑 -->
        <div class="pd_20">
            <nz-breadcrumb>
                <nz-breadcrumb-item>
                    <a [routerLink]="['/welcome/home']">首页</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>{{ this.featureName }}</nz-breadcrumb-item>
            </nz-breadcrumb>
        </div>
        <div class="pd_20 view_scroll">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
</nz-layout>
