<nz-layout style="height: 100%">
    <nz-layout>
        <nz-header style="background-color: #6973b8; padding: 0 20px">
            <div
                style="display: flex; align-items: center"
                class="text-yellow-300 italic font-bold"
            >
                <a href="https:baidu.com" target="_blank">
                    <img style="width: 50px" src="../../../assets/logo/logo.svg" alt="logo" />
                </a>
                <span>The creator of one project is Xj</span>
                <span class="pd_10" style="margin-left: auto"
                    >{{ this.userInfo.username + this.welcome }}!</span
                >
                <a (click)="loginOut()">退出登录</a>
            </div>
        </nz-header>
        <nz-content class="container_box pd_10">
            <div class="left">
                <div class="pd_10 scroll-auto item">
                    <h1 class="title italic">数据大屏</h1>
                    <div class="content">
                        <div class="content_view" #chart></div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="pd_10 scroll-auto item">
                    <h1 class="title italic">功能</h1>
                    <div class="function">
                        <div class="function_item" *ngFor="let item of featureIfy.data">
                            <i
                                nz-icon
                                [nzType]="item.icon"
                                nzTheme="twotone"
                                [nzTwotoneColor]="'#6973b8'"
                                style="font-size: 48px"
                            ></i>
                            <span class="title italic">{{ item.name }}</span>
                        </div>
                    </div>
                </div>
                <div class="pd_10 view_scroll item">
                    <h1 class="title italic">人员信息</h1>
                    <nz-table #basicTable [nzData]="tableIfy.data" nzSize="small">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>年龄</th>
                                <th>地址</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let data of tableIfy.data"
                                (click)="tableIfy.selectRow(data)"
                                [ngClass]="{ active: this.tableIfy.selectPerson.key == data.key }"
                            >
                                <td>{{ data.name }}</td>
                                <td>{{ data.age }}</td>
                                <td>{{ data.address }}</td>
                                <td>
                                    <a>Action 一 {{ data.name }}</a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a>Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
