.three-container {
    canvas {
      display: block;
    }
  }
  
  .controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    nz-slider {
        width: 100px;
    }
    button {
      margin: 0 10px;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    
    }
  }

  .progress-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    
    nz-slider {
        flex: 1;
        margin: 0 10px;
    }
    
    span {
        width: 40px;
        text-align: center;
        font-size: 12px;
    }
}