<div class="view_scroll">
    <div class="three-container"></div>
    <div class="controls">
        <h2>当前播放：{{ this.audioList[this.currentIndex] }}</h2>
        <div class="button-group">
            <button nz-button nzType="primary" (click)="prev()" class="control-btn">上一首</button>
            <button nz-button nzType="primary" (click)="next()" class="control-btn">下一首</button>
        </div>
        <div class="button-group">
            <button nz-button nzType="default" (click)="sound.play()" class="control-btn">
                播放
            </button>
            <button nz-button nzType="default" (click)="sound.pause()" class="control-btn">
                暂停
            </button>
        </div>
        <div class="progress-container">
            <span>{{ currentTime | timeFormat }}</span>
            <nz-slider
                [(ngModel)]="currentTime"
                (ngModelChange)="seekAudio($event)"
                [nzMax]="duration"
                [nzStep]="0.1"
            ></nz-slider>
            <span>{{ duration | timeFormat }}</span>
        </div>
        <nz-slider
            [(ngModel)]="volume"
            (ngModelChange)="sound.volume(volume / 100)"
            [nzMin]="0"
            [nzMax]="100"
            [nzStep]="5"
        ></nz-slider>
    </div>
</div>
