<div class="main">
  <div class="camera-container">
    <button nz-button nzType="primary" (click)="print()">打开浏览器的打印模式</button>
    <video #videoElement autoplay playsinline></video>
    <canvas #canvasElement style="display: none"></canvas>

    <div class="controls">
      <button nz-button nzType="primary" (click)="startCamera()">打开摄像头</button>
      <button nz-button nzType="default" (click)="stopCamera()">关闭摄像头</button>
      <button nz-button nzType="primary" (click)="capture()">拍照</button>
    </div>
    <h2 class="font-bold text-lg">动画测试</h2>
    <div class="card" style="opacity: 1; transform: translateY(0)">
      <button nz-button class="btn1 mr-2" (click)="btnIfy.btn1Click()">按钮点击动画</button>
      <button nz-button class="btn2 mr-2 bg-yellow-300">创建自定义贝塞尔曲线</button>
    </div>
    <h2 class="font-bold text-lg">进度条加载</h2>
    <div class="progress-bar"></div>

    <div class="preview" *ngIf="photoUrl">
      <img [src]="photoUrl" alt="拍摄的照片" />
    </div>
  </div>

  <div class="word-preview">
    <h2 class="font-bold text-lg">word文件预览</h2>
    <input type="file" (change)="previewWord($event)" accept=".doc,.docx" />

    <!-- 添加预览容器 -->
    <div #previewContainer class="docx-preview-container mobile-optimized"></div>

    <!-- 保留纯文本预览作为备用 -->
    <div *ngIf="wordContent" class="word-content">
      <pre>{{ wordContent }}</pre>
    </div>
  </div>
</div>
