.loading-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    
    .loading-spinner {
        width: 60px;
        height: 60px;
        font-size: large;
        border: 5px solid rgba(255,255,255,0.3);
        border-radius: 50%;
        border-top-color: #6973b8;
        animation: spin 1s ease-in-out infinite;
    }

    .loading-text {
        color: white;
        margin-top: 10px;
        font-size: 18px;
    }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}